<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="QA Automation" thread-count="5"
       parallel="tests" verbose="4">

    <listeners>
        <listener
                class-name="com.ebay.listeners.ExtentReportListeners" />
    </listeners>

    <test name="add to card functionality">
        <classes>
            <class name="com.ebay.Tests.ebayTests" />
        </classes>
    </test>

</suite>